<div>
  <div>
    <h1>
      List of all enrollments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new enrollment
    </h2>

    <form action="/insert_enrollment" method="post">
      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id">
      </div>

      <div>
        <label for="student_id_box">
          Student
        </label>

        <input type="text" id="student_id_box" name="query_student_id">
      </div>

      <div>
        <label for="incidents_count_box">
          Incidents count
        </label>

        <input type="text" id="incidents_count_box" name="query_incidents_count">
      </div>

      <button>
        Create enrollment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Course
        </th>

        <th>
          Student
        </th>

        <th>
          Incidents count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_enrollments.each do |an_enrollment| %>
      <tr>
        <td>
          <%= an_enrollment.id %>
        </td>

        <td>
          <%= an_enrollment.course_id %>
        </td>

        <td>
          <%= an_enrollment.student_id %>
        </td>

        <td>
          <%= an_enrollment.incidents_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_enrollment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_enrollment.updated_at) %> ago
        </td>

        <td>
          <a href="/enrollments/<%= an_enrollment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
