<div>
  <div>
    <h1>
      Enrollment #<%= @the_enrollment.id %> details
    </h1>

    <div>
      <div>
        <a href="/enrollments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_enrollment/<%= @the_enrollment.id %>">
          Delete enrollment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Course
      </dt>
      <dd>
        <%= @the_enrollment.course_id %>
      </dd>

      <dt>
        Student
      </dt>
      <dd>
        <%= @the_enrollment.student_id %>
      </dd>

      <dt>
        Incidents count
      </dt>
      <dd>
        <%= @the_enrollment.incidents_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_enrollment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_enrollment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit enrollment
    </h2>

    <form action="/modify_enrollment/<%= @the_enrollment.id %>"  method="post" >
      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id" value="<%= @the_enrollment.course_id %>">
      </div>

      <div>
        <label for="student_id_box">
          Student
        </label>

        <input type="text" id="student_id_box" name="query_student_id" value="<%= @the_enrollment.student_id %>">
      </div>

      <div>
        <label for="incidents_count_box">
          Incidents count
        </label>

        <input type="text" id="incidents_count_box" name="query_incidents_count" value="<%= @the_enrollment.incidents_count %>">
      </div>

      <button>
        Update enrollment
      </button>
    </form>
  </div>
</div>

<hr>
