<div>
  <div>
    <h1>
      Course #<%= @the_course.id %> details
    </h1>

    <div>
      <div>
        <a href="/courses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_course/<%= @the_course.id %>">
          Delete course
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_course.title %>
      </dd>

      <dt>
        Enrollments count
      </dt>
      <dd>
        <%= @the_course.enrollments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_course.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_course.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit course
    </h2>

    <form action="/modify_course/<%= @the_course.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_course.title %>">
      </div>

      <div>
        <label for="enrollments_count_box">
          Enrollments count
        </label>

        <input type="text" id="enrollments_count_box" name="query_enrollments_count" value="<%= @the_course.enrollments_count %>">
      </div>

      <button>
        Update course
      </button>
    </form>
  </div>
</div>

<hr>
